:where(.css-dev-only-do-not-override-17a39f8).ant-pagination .ant-pagination-item-active a {
    background-color: #333333;
    color:white;
  }
  
  /* .pagination-container .ant-pagination-item a:hover {
    background-color: yourHoverBackgroundColor;
    color: yourHoverTextColor;
  } */

  .single-notification{
  
    border-radius: 10px;
    cursor: pointer;
  }

  .single-notification:hover{
    background:  #dddddd;

  }
  .single-notificationTrue{
    background:  rgb(208, 232, 255);
    border-radius: 10px;
    cursor: pointer;
    
  }
  .single-notificationTrue:hover{
    background:  #dddddd;
  }

  .single-notificationContainer{
    border-bottom: 1px solid #e8e8e8;
    padding: 8px;
    margin: 5px;
  }

.notificationp{
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}