.car-card {
    color: white;
    text-align: center;
    border-radius: 15px;

    padding-top: 42px;
    cursor: pointer;
    transition: .5s;
    max-width: 400px;
    height: 220px !important;
}

.car-card.total {
    background-color: #000000;
}

.car-card.active {
    background-color: #34DE00;
}

.car-card.reserved {
    background-color: red;
}