.formContainer{
    margin-top: 30px;
}
.radioBtnContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: 20px;
    padding-bottom: 30px;
}
.radioBtnContainer span{
    margin-left: 20px;
}
.radioBtnContainer:first-child{
    margin-left: 0 !important;
}
.kycTitle{
    padding-bottom: 40px;
}