@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:where(.css-dev-only-do-not-override-17a39f8).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  margin-bottom: 10px;
  padding: 20px 10px;
  line-height: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.ant-layout-sider-children .ant-menu-item-selected {
  color: #000;
  font-weight: bold;
}

.ant-layout-sider-children .ant-menu-item:hover {
  color: white !important;
}

.ant-layout-sider-children .ant-menu-item-selected:hover {
  color: black !important;
}



:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper .ant-table-thead>tr>td {
  background: #000;
  color: white;
  border: 0;
}


:where(.css-dev-only-do-not-override-17a39f8).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: white;
  border-color: black;
}


.btn {
  color: var(--White, #fff);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 16px 100px;
  border-radius: 8px;
  height: 100%;
  background: linear-gradient(180deg, #787878 0%, #434343 0.01%, #000 100%);
}

